* {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(Assets/BG.jpg);
    display:flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    z-index: -1;
}

header{
    padding: 30px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}

.instructions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 200px;
    padding: 30px 20px;
    color: red;
}

.todo{
    text-align: center;
    padding: 8px;
}
.container{
    padding: 40px;
    display: flex;
    margin: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

#endScreen p {
    font-size: larger;
    font-weight: bolder;
    color: red;
}
.choices{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin: 20px 0;
}

.btn{
    background-color: black;
    box-shadow: 1px solid rgb(248, 245, 245);
    border-radius: 5px;
    color:white;
    outline: none;
    padding: 10px 15px;
}

button:hover{
    background-color: white;
    color: rgb(5, 0, 10);
    font-weight: bold;
}

.next-btn, .start-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 15px;
}

.highScoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px;
}

h4{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* to start with start button*/
.hide{
    display: none;
}

@media only screen and (max-width: 600px){
    .instructions{
        margin: 15px 50px;;
    }
}